# GG4257 - Urban Analytics: A Toolkit for Sustainable Urban Development
## Lab Workbook No 2: Data Manipulation and Working with Web Services
## CHALLENGE ONE 
---
Dr Fernando Benitez -  University of St Andrews - School of Geography and Sustainable Development - Iteration 2025

# Objectives

- Practice and get familiar with the urban data landscape
- Understand the *messiness* of real world (urban) data
- Create common objects used to store data
- Read tabular and spatial data formats into Python
- Subset and merge data
- Manipulate data and calculate new values
- Practice basic techiques of Data Manipulation and learn how to use Python to access programmatically urban data and understand the benefits of it

# Data Manipulation

Access and manipulate data is very important when it comes to work with python or any kind of programming langague, you need to feel confortable by reading and manipulating data in this programatic way. Initially it will seems it is more complicated, but later with practice you will see the advangte of dealing with data in this way.

## Arrays and Data Frames (Numpy and Pandas)

As you recall from the previous modules ( GG3209), there are two packages that can help you to read data in your computer memory and then let you manipulate them in a more efficient way. 

Two main object types that can be used to store tabular data in Python include the data frame and array. Each column of a data frame must be a single type, but different columns can be different types (e.g. string, float, etc.); all the columns of an array must be the same type. You can create these within Python manually or by reading in other common formats such as spreadsheets or csv files.

In [ ]:
import numpy as np
import pandas as pd

#Create two arrays
years = range(2010, 2018) #creates a list of consecutive integers from 2010 to 2017
a = np.repeat(years, 4) #this uses numpy's repeat() function to repeat values
b = np.random.randint(0, 40, 32) # the randint() function can be used to generate random integers - in this case 32 values between 0 and 40
#Create data frame
c = pd.DataFrame({'a':a,'b':b})  #the curly brackets indicate a dictionary

The last line says to make a two column data frame, where the first column is called `'a'` and has the values from the `a` array, and the second column is called `'b'` and contains the values from the `b` array.

You can type `c` into the console to return the whole data frame, however, you might just want to look at the top few rows. This can be achieved with the `head()` method:

In [ ]:
#head returns the top five rows
c.head()

In a similar way you can create arrays using the numpy package.

In [ ]:
#Create a list of numbers
a = range(0, 25) #the range function generates a range of integers

b = np.array(a) #creates a one dimensional array
b = b.reshape(5,5) #create an array with 5 rows and 5 columns
b

It is possible to multiply a numeric array by a constant or another array

In [ ]:
#Multiply b by 10
b * 10

In [ ]:
#Multiply b * b
b * b

Extracting elements from a one dimensional array is the same as a list; for a two dimensional array the slicing is formatted as [row number, column number]. For example:

In [ ]:
#Extract the 0 position row
b[0,:]  #the colon means give all elements along that dimension

#Extract 3 position column
b[:,3]

#Extract the 2 and 3 position columns
b[:,2:4] # The colon is used to define a numeric vector between the two numbers

#Extract 0 and 3 position rows
b[[0,3],:] # The list ([0,3]) is used to identify the indexes to be extracted

#Extract the value in the 2 position row and 3 position column
b[2,3]

# If you run this cell you will get the output only from the last part of the script,
# if you want to see the outcome of every part, just copy and paste the code in another code cell

In the data frame that you created earlier, you can use a similar notation to extract values based on the row and column indexes. It is formatted as `.iloc[row index, column index]`.

As you see in the previous practices, `iloc` and `loc` are key methods to explore, filter and manipulate data uisng pandas. So make sure you understand how that work.

In [ ]:
c.iloc[23,1]

Data frames can have named rows and columns, which can be used for indexing. It is formatted as `loc[row name, column name]`

In [ ]:
c.loc[23,'b']

You can also reference the column names themselves using dot notation, for example:

In [ ]:
#Return all the values in the column called "a"
c.a

In [ ]:
#A different way of returning the column called "a"
c["a"]

In [ ]:
#Yet another way of returning the column called "a"
c.loc[:,"a"]

We can also find out what a data frame's column names are using the `columns` attribute:

In [ ]:
c.columns

There are many ways you can rename the columns, here one of those:

In [ ]:
c = c.rename(columns={'a': 'Year', 'b': 'Count'})
c.head()

# Challenge No 1:

1. Using a Dictionary, create a dataframe (table), with at least 4 columns and more than 100 rows. How come you can create this among data from scratch without defining every single row of data? 
2. Using the appropriate method, create a new DataFrame containing only the first 30 rows and the first 3 columns of the original DataFrame. Name this new DataFrame subset_df.
3. Using the appropriate method, filter the rows from the original dataframe where a numerical attribute(column) is greater than a particular numerical value, and find another categorical attribute that is equal to a specific string or text. Name this new DataFrame filtered_df.
4. Check this website https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.mean.html and apply the methods, mean, standard deviation, group_by to run fundamental statistical analysis of your created data frame.
5. Make sure you comment on your code and describe how you are manipulating the data.

In [1]:
#1.Using a Dictionary, create a dataframe (table), with at least 4 columns and more than 100 rows. How come you can create this among data from scratch without defining every single row of data?
import numpy as np  
import pandas as pd

np.random.seed(42)

num_rows = 150

data = {
    'Bromley': np.random.randint(5, 30, num_rows),
    'Croydon': np.random.randint(5, 30, num_rows),
    'Dagenham': np.random.randint(5, 30, num_rows),
    'Lewisham': np.random.randint(5, 30, num_rows)
}

df = pd.DataFrame(data)
print(df.head())

   Bromley  Croydon  Dagenham  Lewisham
0       11       17        12        24
1       24       23         8        20
2       19       11        10        17
3       15       21        12        22
4       12       24        24        14

In [2]:
subset_df = df.iloc[:30, :3]
print(subset_df)

    Bromley  Croydon  Dagenham
0        11       17        12
1        24       23         8
2        19       11        10
3        15       21        12
4        12       24        24
5        25        8         7
6        11        9        20
7        23       27        29
8        27       11         7
9        15       17        29
10       15       19        22
11       28       15        18
12       25        8        22
13        8       17         6
14       12       11        26
15       28       23         7
16        7       26        20
17       26        6        13
18       25       14         8
19        6       17         5
20       28       29         8
21       16       25         5
22       10       10        18
23        6       16        25
24       25       16        20
25        5       24        24
26       16       15        28
27       26       27        12
28       16       29        11
29       29       11         7

In [3]:
filtered_df = subset_df.loc[(subset_df > 10).all(axis=1)]
filtered_C_df = filtered_df.loc[:,'Croydon']

print(filtered_C_df)

0     17
3     21
4     24
7     27
9     17
10    19
11    15
14    11
24    16
26    15
27    27
28    29
Name: Croydon, dtype: int32

In [4]:
#applying the mean
filtered_C_df.mean(axis=0, skipna=True, numeric_only=False)

np.float64(19.833333333333332)

In [5]:
#applying standard deviation
filtered_C_df.std(axis=0, skipna=True, ddof=1, numeric_only=False)

np.float64(5.734002779802943)

In [6]:
#applying group_by 
grouped_df = df.groupby(['Bromley']).mean()
print(grouped_df)

           Croydon   Dagenham   Lewisham
Bromley
5        21.857143  18.714286  22.714286
6        19.333333  16.000000  17.000000
7        11.888889  12.777778  15.888889
8        15.833333  21.833333  13.666667
9        22.600000  16.000000  20.600000
10       18.500000  11.500000  28.500000
11       13.555556  19.777778  16.222222
12       15.100000  24.200000  13.600000
13       16.714286  17.428571  14.857143
14       14.000000  15.800000  25.200000
15       15.500000  20.000000  20.750000
16       17.000000  18.555556  14.222222
17       10.000000  15.333333   9.000000
18       21.000000  14.000000  12.500000
19       19.090909  15.545455  21.181818
20       21.500000  18.000000  11.000000
21       14.666667  11.666667  16.000000
22       18.800000  14.800000  15.200000
23       16.250000  25.500000  23.500000
24       19.333333  15.666667  21.000000
25       16.750000  11.000000  17.625000
26       18.400000  13.800000  16.400000
27       13.500000  18.166667  19.833333
28       18.285714  15.142857  18.142857
29       14.666667  11.666667  16.333333

## Reading External Data

For most urban analytics you are more likely to be reading external data into Python rather than creating data objects from scratch. Tabular data is commonly stored in text files such as CSV, or on spreadsheets; and explicitly spatial data will likely be stored in formats such as Shapefiles.

A common way in which data can be stored externally are the use of `.csv` files. These are text files, and have a very simple format where columns of attributes are separated by a comma, and each row by a carriage return.

**Note:** There are a range of different delimiters which can be used in addition to a comma, with the most common being tab; although sometimes characters not commonly used such as bar/pipe (`|`) will be used.

In the following example you will read in some U.S. Census Bureau, 2010-2014 American Community Survey (ACS) 5-Year Estimate data. This was downloaded from the [American Fact Finder](https://factfinder.census.gov) website. The data are for census tracts in San Francisco and relate to median earnings in the past 12 months.

Reading CSV files into Python uses pandas `read_csv` function:

In [ ]:
#Read CSV file - creates a data frame called earnings
earnings = pd.read_csv(r"C:\Users\user\Documents\UA_Lab\Data\LabTwo\ACS_14_5YR_S2001_with_ann.csv")

#Show column headings
earnings.columns

#UID - Tract ID
#pop - estimated total population over 16 with income
#pop_m - estimated total population over 16 with income (margin of error)
#earnings - estimated median earnings
#earnings_m - estimated median earnings (margin of error)

It is possible to show the structure of the object using the `info()` method.

In [ ]:
earnings.info()

This shows that the object is a Pandas data frame with 197 rows and 5 variables. For each of the attributes the class is shown (e.g. `int64` indicates integer). The `read_csv()` function guesses the column types when the data are read into Python.

One issue you might notice is that the earnings and earnings_m variables have been read in as an `object`. The reason these columns were not read as integers (like the UID, pop, pop_m) is the presence of two non-numeric values which are shown as "*" and "-". In ACS data these two symbols indicate that the sample sizes were either no sample observations or too few sample observations to make a calculation.

Issues such as these are quite common when reading in external data; and we will look at how this can be corrected later.

**However!**: Not all tabular data are distributed as textfiles, and another very common format is Microsoft Excel format - .xls or xlsx.

The following code downloads an Excel File from the [London Data Store](https://data.london.gov.uk/) and then reads this into Python.

>Note: In the following code you will fetch data from a URL, something that is new at this point, I will describe better the importance of working with web services later in the next seccion of this workbook.

In [ ]:
import urllib.request
url = "https://data.london.gov.uk/download/uk-house-price-index/70ac0766-8902-4eb5-aab5-01951aaed773/UK%20House%20price%20index.xlsx"
urllib.request.urlretrieve(url, "data/UK_House_price_index.xlsx")

In [ ]:
#Read workbook
house_price = pd.read_excel(r"C:\Users\user\Documents\UA_Lab\Data\LabTwo\UK_House_price_index.xlsx", sheet_name='Average price')
house_price

## Reading Spatial Data

Spatial data are distributed in a variety of formats, but Shapefiles. are maybe the most common format. These can be read into Python using a number of packages, however, is illustrated here with "geopandas". You have experienced GeoPandas already in the previous module, but here you can practice once again.

The following code loads the house composition from the latest Census in the UK downloaded from the [NOMIS Data](https://www.nomisweb.co.uk/datasets/c2021ts003).

In [ ]:
# Loading house data 
import pandas as pd
house_data = pd.read_excel(r"C:\Users\user\Documents\UA_Lab\Data\LabTwo\householdcomposition.xlsx")
pd.options.display.max_columns = None
house_data.head()

In [ ]:
house_data.columns

In [ ]:
house_data.info()

You have noticed by using the `.info()` and .columns methods that our dataset have some issues than need to resolve before we move forwards. The initial issue is the name of the columns, and the `Dytpe`
of the columns, instead of having a string and numerical or float/intenger values, we have object, which tells us that there is something on those columns that might need to get removed.

In [ ]:
#Let's start by renaming some of the most important columns names.
house_data.rename(columns={'2021 super output area - middle layer':'2021_MSOA_name','Unnamed: 1': 'MSOA21CD', 'Total: All households': 'All_households', 'One-person household':'1Person_household'}, inplace=True)
house_data.head()

In [ ]:
house_data['2021_MSOA_name'] = house_data['2021_MSOA_name'].astype(str)
house_data['MSOA21CD'] = house_data['MSOA21CD'].astype(str)

In [ ]:
house_data.info()

Here we are loading a shapefile from the latest version of census boundaries included in the The Open Geography portal from the Office for National Statistics (ONS) https://geoportal.statistics.gov.uk/

In [ ]:
#Loading geopandas
import geopandas as gpd

# Read Shapefile
shapefile_path = r"C:\Users\user\Documents\UA_Lab\Data\LabTwo\MSOA_2021_BGC/MSOA_2021_EW_BGC_V2.shp"
gdf_shapefile = gpd.read_file(shapefile_path)

In [ ]:
gdf_shapefile.head()

In [ ]:
gdf_shapefile.crs

In [ ]:
gdf_shapefile.explore()

In [ ]:
gdf_wgs84 = gdf_shapefile.to_crs(epsg=4326)

In [ ]:
gdf_wgs84.crs

In [ ]:
gdf_wgs84.dtypes

Now, we can also create a Dictionary to define which columns we would like to keep in a more curated dataframe

In [ ]:
keep_cols = [
    "MSOA21CD",
    "MSOA21NM",
    "geometry",
]
msoa_shp = gdf_wgs84[keep_cols]
msoa_shp.head()

In [ ]:
msoa_shp.explore()

In [26]:
merged_gdf = msoa_shp.merge(house_data, on='MSOA21CD')

In [ ]:
merged_gdf.info()

In [ ]:
#This is a "magic", which allows figures to be rendered inside the notebook (it only needs to be run once in Notebook)
%matplotlib inline

merged_gdf.explore(column='All_households', cmap='Blues')

As you already know, a geo data frame is structured like a regular data frame, with rows being observations and columns being attributes on those observations. The key difference is that a geo data frame has a `geometry` column that contains the spatial coordinates on each record. You can access the `geometry` like you would any column:

In [ ]:
#Show the top rows of the geometry column
merged_gdf.geometry.head()

In [ ]:
### Run the following line only the first time running this notebook.

# pip install leafmap

Leafmap is a popular new Python package for interactive mapping and geospatial analysis with minimal coding in a Jupyter environment.  Get more information in its documentation web site: https://leafmap.org/

In [ ]:
import leafmap

m = leafmap.Map()
m

In [ ]:
# You can use this handy web map to get the centre of the map, zoom level, and other great resources for web map development 
m = leafmap.Map(center=[54, -1], zoom=6)
m.add_gdf(merged_gdf, layer_name="Housing")
m

## Creating Spatial Data

Sometimes it is necessary to create a spatial object from scratch, which is most common for point data given that only a single co-ordinate is required for each feature. This can be achieved by building a `GeoDataFrame()` object and is used within this example to create a 311 point dataset. 311 data record non emergency calls within the US, and in this case are those which occurred within San Francisco between January and December 2016. The 311 data used here have been simplified from the [original](https://data.sfgov.org/City-Infrastructure/Case-Data-from-San-Francisco-311-SF311-/vw6y-z8j6/data) data to only a few variables, and those calls without spatial references have been removed.

In [ ]:
# Read csv into Python
data_311 = pd.read_csv(r"C:\Users\user\Documents\UA_Lab\Data\LabTwo\311.csv")
# Have a look at the structure
data_311.head()

Each spatial object in a geo data frame must be an point, line or polygon. GeoPandas uses spatial object types from the shapely package. In this example we use the `Point` type.

In [ ]:
# Create a geo data frame
from shapely.geometry import Point  # import just the Point class from the shapely package
geom = [Point(xy) for xy in zip(data_311.Lon, data_311.Lat)] #create a list of latitude, longitude pairs
SP_311 = gpd.GeoDataFrame(data_311, crs=merged_gdf.crs, geometry=geom)

In [ ]:
# Show the results
SP_311.plot()

## Subsetting Data

It is often necessary to subset data; either restricting a data frame to a set of columns or rows; or in the case of spatial data, creating an extract for a particular set of geographic features. Subsetting can occur in a number of different ways

In [ ]:
#Get the frequencies by the categories used within the 311 data
data_311.Category.value_counts()

In [ ]:
# Use the loc method to extract rows from the data which relate to Sewer Issues
sewer_issues = data_311.loc[data_311.Category=="Sewer Issues", :]

# Use the square brackets "[]" to perform the same task
sewer_issues = data_311[data_311.Category=="Sewer Issues"]
sewer_issues.head()  #check out the first rows

In [ ]:
# Extract the IDs for the "Sewer Issues"
sewer_issues_IDs = data_311.loc[data_311.Category=="Sewer Issues", "CaseID"]
sewer_issues_IDs.head()  #check out the first elements

Subsetting can also be useful for spatial data. In the example below we can list all the regions in England, and using simple queries we can remove, overwrite, and plot only certain rows inside our initial spatial data frame. For example consider you need to remove an area from your original dataset, and you you the code or value to use for the querie, so you can use something like:

In [ ]:
regions_england = gpd.read_file(r"C:\Users\user\Documents\UA_Lab\Data\LabTwo\Regions_(December_2021)\RGN_DEC_2021_EN_BGC.shp")

In [ ]:
regions_england.explore('RGN21NM')

In [ ]:
regions_name = regions_england['RGN21NM'].value_counts()
regions_name

In [ ]:
regions_england[regions_england.RGN21NM != "South East"].plot() # Removes South East from the plot

In [ ]:
regions_england[regions_england.RGN21NM == "North East"].plot() # Only plots North East

In [ ]:
regions_england = regions_england[regions_england.RGN21NM != "London"] # Overwrites the regions_england object
regions_england.plot()

## Clipping Spatial Data

Clipping is a process of subsetting using overlapping spatial data. The following code uses the outline of the coast of the U.S. to clip the boundaries of the Census Track Shapefile, another geodata frame object. Note: it is a little slow.

The Census Tracts Shapefile was downloaded from the [SF OpenData](https://data.sfgov.org/Geographic-Locations-and-Boundaries/Census-2010-Tracts-for-San-Francisco/rarb-5ahf/data).

> Note: You will find an error; you should be able to fix it at this level.

In [ ]:
#Read in coastal outline (Source from - https://www.census.gov/geo/maps-data/data/cbf/cbf_counties.html)
coast = gpd.read_file(r"C:\Users\user\Documents\UA_Lab\Data\LabTwo\Census_Tracts_USA/cb_2015_us_county_500k.shp")
SF = gpd.read_file(r"C:\Users\user\Documents\UA_Lab\Data\LabTwo\Census_Tracts_USA/tl_2010_06075_tract10.shp")

coast_single = coast.unary_union  #merges the US counties into a single object
SF_clipped_geoms = SF.intersection(coast_single) # Clip the SF spatial data frame object to the coastline - just returns geometries
SF_clipped = SF.copy() #make a copy of the SF dataframe
SF_clipped['geometry'] = SF_clipped_geoms #replace the old geometries with the clipped geometries
SF_clipped = SF_clipped[SF_clipped.intersects(SF_clipped_geoms.unary_union)] #subset to just the observations in the clipped area

#Plot the results
SF_clipped.plot()

In [ ]:
SF_single = SF_clipped.unary_union  #merges SF tracts into a single object
SP_311_PIP = SP_311[SP_311.intersects(SF_single)] # Select the 331 points data that intersect with San Francisco
SP_311_PIP.plot()

In [ ]:
SP_311_PIP.head()

## Merging Tabular Data

So far you have utilized a single data frame or spatial object; however, it is often the case that in order to generate information, data from multiple sources are required. Where data share a common "key", these can be used to combine / link tables together. This might for example be an identifier for a zone; and is one of the reasons why most statistical agencies adopt a standard set of geographic codes to identify areas.

In the earlier imported data "earnings" this included a UID column which relates to a Tract ID. We can now import an additional data table called bachelors - this also includes the same ID.

In [ ]:
#Read CSV file - creates a data frame called earnings
bachelors = pd.read_csv(r"C:\Users\user\Documents\UA_Lab\Data\LabTwo\ACS_14_5YR_S1501_with_ann.csv")
bachelors.head()

#UID - Tract ID
#Bachelor_Higher - Bachelor degree or higher %
#Bachelor_Higher_m - Bachelor degree or higher % (margin of error)

Using the matching ID columns on both datasets we can link them together to create a new object with the `merge()` function in pandas:

In [ ]:
#Perform the merge
SF_Tract_ACS = pd.merge(earnings, bachelors, left_on="UID", right_on="UID")
SF_Tract_ACS = pd.merge(earnings, bachelors, on="UID") # An alternative method to the above, but a shortened version as the ID columns are the same on both data frames
#there are many more options - for more details type help(pd.merge)

#The combined data frame now looks like
SF_Tract_ACS.head() # shows the top of the data frame

## Removing and Creating Attributes

It is sometimes necessary to remove variables from a tabular object or to create new values. In the following example we will remove some unwanted columns in the SF_clipped object, leaving just the zone id for each polygon.

In [ ]:
#Remind yourself what the data look like...
SF_clipped.head()

In [ ]:
SF_clipped = SF_clipped[["GEOID10", "geometry"]] #Makes a new version of the geo data frame with just the values of the GEOID10 and geometry columns

#The data frame within the data slot now looks as follows
SF_clipped.head()

These tract ID are supposed to match with those in the "SF_Tract_ACS" object, however, if you are very observant you will notice that there is one issue; the above have a leading zero.

In [ ]:
SF_Tract_ACS.head() # show the top of the SF_Tract_ACS object

As such, in this instance we will create a new column on the SF_Tract_ACS data frame with a new ID that will match the SF GEOID10 column. We can achieve this using the square brackets (`[]`) notation and will call this new variable "GEOID10".

In [ ]:
# Creates a new variable with a leading zero
SF_Tract_ACS['GEOID10'] = "0" + SF_Tract_ACS.UID.astype(str) #need to convert the UID column to strings before prepending the zero
SF_Tract_ACS.head()

If you remember from earlier in this practical, the earnings data had some values that were stored as "objects" rather than floats or integers, and the same is true for both the bachelors data; and now the combined `SF_Tract_ACS` object. We can check this again as follows:

In [ ]:
SF_Tract_ACS.info()

We can also remove the UID column. A quick way of doing this for a single variable is to use the `drop()` method:

In [ ]:
SF_Tract_ACS = SF_Tract_ACS.drop('UID', axis=1)  #axis=1 indicates to drop a column (axis=0 is for rows)

We will now convert the object variables to numbers. The first stage will be to remove the "-" and "**" characters from the variables with the `replace` function, replacing these with NA values.

In [ ]:
#Replace the "-" and "*" characters
import numpy as np
SF_Tract_ACS.loc[SF_Tract_ACS.earnings=='-', 'earnings'] = np.nan #replace the "-" values with NA
SF_Tract_ACS.loc[SF_Tract_ACS.earnings_m=='**', 'earnings_m'] = np.nan #replace the "**" values with NA
SF_Tract_ACS.loc[SF_Tract_ACS.Bachelor_Higher=='-', 'Bachelor_Higher'] = np.nan #replace the "-" values with NA
SF_Tract_ACS.loc[SF_Tract_ACS.Bachelor_Higher_m=='**', 'Bachelor_Higher_m'] = np.nan #replace the "-" values with NA

We will now convert these to numeric values:

In [ ]:
SF_Tract_ACS.earnings = SF_Tract_ACS.earnings.astype(float)
SF_Tract_ACS.earnings_m = SF_Tract_ACS.earnings_m.astype(float)
SF_Tract_ACS.Bachelor_Higher = SF_Tract_ACS.Bachelor_Higher.astype(float)
SF_Tract_ACS.Bachelor_Higher_m = SF_Tract_ACS.Bachelor_Higher_m.astype(float)

In [ ]:
SF_Tract_ACS.info()

Now all the variables other than the "GEOID10" are stored as integers or floats:

## Merging Spatial Data

It is also possible to join tabular data onto a spatial object (e.g. a geo data frame) in the same way as with regular data frames. In this example, we will join the newly created `SF_Tract_ACS` data onto the `SF_clipped` data frame.

In [ ]:
SF_clipped = pd.merge(SF_clipped, SF_Tract_ACS, on="GEOID10") # merge
SF_clipped.head() #show the attribute data

## Spatial Joins

Earlier in this practical we created a geo data frame which we later cropped using the `intersects()` method to create the `SP_311_PIP` object. As a reminder of what this looks like it is plotted below:

In [ ]:
SP_311_PIP.explore(tiles="CartoDB positron")

We will now clean up the associated data frame by removing all of the attributes apart from the category and geometry.

In [ ]:
SP_311_PIP = SP_311_PIP[["Category", "geometry"]] #subset data
SP_311_PIP.head()

The `intersects()` method was used to clip a dataset to an extent earlier, essentially a [point in polygon](https://en.wikipedia.org/wiki/Point_in_polygon) function. In contrast, the spatial join (`sjoin()`) function performs the point in polygon action and has a really useful feature that it also appends the attributes of the polygon to the point. For example, we might be interested in finding out which census tracts each of the 311 calls resides within. As such, we will implement another point in polygon analysis to create a new object `SF_clipped_311`:

In [ ]:
SF_clipped_311 = gpd.sjoin(SP_311_PIP, SF, how='inner') # point in polygon
#Cleanup the attributes
SF_clipped_311 = SF_clipped_311[["GEOID10","Category","geometry"]]
#Show the top rows of the data
SF_clipped_311.head()

## Writing and saving your processed data

In order to share data it is often useful to write data frames or spatial objects back out of Python as external files. This is very simple, and Python supports multiple formats. In these examples, a CSV file and a Shapefile are both created.

In [ ]:
#In this example, we write out a CSV file with the geo data frame SF_clipped_311
SF_clipped_311.to_csv(r"C:\Users\user\Documents\UA_Lab\Data\LabTwo\311_Tract_Coded.csv")

This has created a CSV file "311_Tract_Coded.csv" in your working directory; we will use this in the next practical class - "Basic SQL".

It is also possible to write out a Shapefile

In [ ]:
#This will write out a Shapefile for San Francisco - note, as the column names are a little longer than are allowed within a Shapefile and as such are automatically shortened.
SF_clipped.to_file(r"C:\Users\user\Documents\UA_Lab\Data\LabTwo\SF_clipped.shp") #the default is Shapefile, but other spatial formats are supported

# Working with Web Services

Nowadays, you have access to spatial and numerical data from multiple data sources; many great spatial data sources will include another type of access that isn't often very popular among the spatial data scientist communities, as we tend to use downloaded data to make any analysis. We consider that only through downloaded data will we be able to work more efficiently. Somehow, those caveats are true. However, we also need to consider the rapid improvement in computational capabilities, the use of the Web and Cloud GIS services, and take advantage of the faster internet connections we can access nowadays. As you probably already know, spatial data come in multiple formats, whether the type of data we need to store or the natural phenomena we try to represent; numerous types of spatial web services serve various purposes. 

To get to that point, if we work with a window-interface tool like QGIS or ArcGIS, the connection to the spatial data is usually established on local directories; depending on the type of project, you might need to work using a direct connection to a particular spatial database. However, in this example, I will show you how to use web services, in particular spatial web services, to get some numerical and spatial data, load that into your computer memory, process the information and then get the outcomes you can later include as an outcome of any spatial analysis.

Generally, you can think of a web service as a piece of software designed to allow the interaction and communication between different applications over the internet. That is the keystone! You know that the transmission of your data goes through the internet, which means that a web service enables the exchange of data and, in many cases, also functionality between multiple systems, allowing them to work together seamlessly. 

Web services use standard web protocols, such as HTTP, and often communicate using formats like XML or JSON. They enable interoperability, scalability, and integration in distributed computing environments.

## Web Services in Urban Analytics:

In urban analytics, web services facilitate the seamless exchange and analysis of geospatial data, which is vital for understanding and managing urban environments. Spatial Web services provide a platform for sharing geographic information, conducting spatial studies, and delivering real-time data to support urban planning, transportation management, environmental monitoring, and more decision-making processes.

## Common Spatial Web Services:

Having spatial web services standards is extremely important., the standards are the glue to geospatial information interoperability, and are used by thousands of organizations across the globe and represented in millions of lines of code. They are backed by international organizations, used in proposals, and implemented to speed up the process of innovation. If you want to explore all the geospatial standards, take a look at the OGC web https://www.ogc.org/standards/ IN the following section I will describe the most common spatial web services you might find when you work with spatial data. 

### Web Map Services (WMS):

A WMS services is a standard protocol for serving georeferenced **map images** over the web. It allows clients to request maps from a server, which then generates and returns the map images.

### Web Feature Services (WFS):

A WFS service is a standard for serving and exchanging **vector** data over the web. It enables clients to request and retrieve features (geospatial entities) from a server, supporting more complex data interactions compared to WMS, including the editing and symbology capabilities.

### GeoJSON/JSON Web Services:

These web services use the JSON format to transmit geospatial data. They are often employed for simple and lightweight data exchange, suitable for web applications and APIs. These web services are popular for transmitting spatial data between clients and servers due to their simplicity and human-readability.

### RESTful APIs (Representational State Transfer):

RESTful APIs follow the principles of REST architecture, providing a set of rules for building web services. They use standard **HTTP methods (GET, POST, PUT, DELETE)** for data manipulation and are often implemented in the form of web APIs. APIs are versatile and widely adopted in numerous geospatial applications and are widely implemented allowing developers to access, manipulate, and retrieve geographic data programmatically.

### APIs

Application Programming Interface (APIs) represent a 'gate' or otherwise a platform that enables a client (that is you) to interact with a server (for example [Glasgow Open Data](https://developer.glasgow.gov.uk/),  [opendata.bristol.gov.uk](https://opendata.bristol.gov.uk/)). 

According to @amazonWhatAPI:
> In the context of APIs, the word Application refers to any software with a distinct function. Interface can be thought of as a contract of service between two applications. This contract defines how the two communicate with each other using requests and responses. Their API documentation contains information on how developers are to structure those requests and responses.

The client's software (this might be R pr Python for example) sends a request to the server requesting specific data. The response is the data the client asked.

More commonly, the client might be a mobile phone app (e.g. train network status app) and the server is the network operator's server.

APIs can be private or public types. For more in the description from @amazonWhatAPI [here](https://aws.amazon.com/what-is/api/#:~:text=API%20stands%20for%20Application%20Programming,other%20using%20requests%20and%20responses.)